{% extends 'base.html' %}


{% block title_of_page %}

Updating A Moment
      
{% endblock %}


{% block content %}

{% if user.is_authenticated  %}
{% if user.id == 1 or user.id == x4.created_by.id %}

<br/>

<h1> Update Your Moment!</h1>
<br/>
<div class="mb-3">
<form method = "POST">
	{% csrf_token %}
	{{form.as_p}}
	<button class ="btn btn-danger">Update Moment!</button>
	<br/>
	<br/>
	<h4> Decided that you don't want to update this moment? That's okay! </h4>
	<a href = "{% url 'home' %}" class ="btn btn-danger"> Click here to go Back To All Of Your Moments! </a> 


</div>

{% else %}

<h2> You are neither an admin or are {{x4.created_by.username}} so you are not able to update this moment. </h2>

{% endif %}


{% else %}

You need to sign in if you want to update moments. 
<br/><br/>
<a href="{% url 'login' %}" class ="btn btn-danger btn"> Please Sign In If You Want To Be Able To Update Moments! </a>

<br/><br/>

<a href = "{% url 'sign_up' %}" class ="btn btn-danger"> Don't have an account? Go Create One! </a> 

{% endif %}

{% endblock %}