{% extends 'base.html' %}

{% block content %}


<h2 class="font-weight-bold mt-3">Password reset sent</h2>	
<p>
We have sent an email to you with instructions on how to reset your password.
<br/>
If you don't receive an email, please make sure you have entered the correct email that you have registred with. And try resetting your password again with the link below.</p>
<br/>
<br/>
<a href="{% url 'password_reset' %}" class ="btn btn-danger">Try to send another email!</a>
{% endblock %}